<div class="login-container section-container">
  <div class="section-header">
    <h2 class="login-header">Signup</h2>
  </div>
  <div class="section-content">
    <form action="">
      <div class="form-input">
        <label>Username</label>
        <input type="text" name="username">
      </div>
      <div class="form-input">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <input type="submit" class="button-1" value="Login">
    </form>
  </div>
<div>