<div class="show-user-container section-container">
  <div class="section-header">
    <h2 class="show-user-header"><%=@user.username%>'s Filters</h2>
  </div>
  <div class="section-content">
    <% for i in 1..10 do %>
    <div class="section-item">
      <img class="section-item-image" src="/assets/temp.png" alt="name">
      <a href="/filter/show/1" class="section-item-content">
        <span class="section-item-name">
          Laplacian Filter
        </span>
        <span class="section-item-views">
          43 views
        </span>
      </a>
    </div>
    <%end%>
  </div>
</div>
<div class="show-user-container section-container">
  <div class="section-header">
    <h2 class="show-user-header"><%=@user.username%>'s Mashups</h2>
  </div>
  <div class="section-content">
    <% for i in 1..10 do %>
    <div class="section-item">
      <img class="section-item-image" src="/assets/temp.png" alt="name">
      <a href="/mashup/show/1" class="section-item-content">
        <span class="section-item-name">
          Laplacian Filter
        </span>
        <span class="section-item-views">
          1 views
        </span>
      </a>
    </div>
    <%end%>
  </div>
</div>
<div class="show-user-container section-container">
  <div class="section-header">
    <h2 class="show-user-header"><%=@user.username%>'s Library</h2>
  </div>
  <div class="section-content">
    <% for i in 1..10 do %>
    <div class="section-item">
      <img class="section-item-image" src="/assets/temp.png" alt="name">
      <a href="/filter/show/1" class="section-item-content">
        <span class="section-item-name">
          Laplacian Filter
        </span>
        <span class="section-item-views">
          43 views
        </span>
      </a>
    </div>
    <%end%>
  </div>
</div>
<%if @user.id == session[:user_id]%>
<a href="/users/edit"><div class="button-1 to-edit-page">Edit Profile</div></a>
<%end%>