<div class="signup-container section-container">
  <div class="section-header">
    <h2 class="signup-header">Signup</h2>
  </div>
  <div class="section-content">
    <form action="/users/create">
      <div class="form-input">
        <label>Username</label>
        <input type="text" name="username">
      </div>
      <div class="form-input">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <div class="form-input">
        <label>Confirm Password</label>
        <input type="password" name="password_confirmation">
      </div>
      <input type="submit" class="button-1" value="Signup">
    </form>
  </div>
</div>