<div class="header-container">
  <h1 class="header mashup-header">Filtr</h1>
  <div class="authactions">
    <span class="login">Login</span>
    <span class="signup">Signup</span>
  </div>
</div>
<div class="nav-container">
  <div class="nav-left">
    <span class="status">
      Signed in as <span class="username">Guest</span>
    </span>
  </div>
  <div class="nav-right">
    <a href="/">
      <span class="home">Home</span>
    </a>
  </div>
</div>
<div class="mashup-filter-container section-container">
  <div class="section-header">
    <h2 class="mashup-filter-header">Mashup Filters</h2>
  </div>
  <div class="section-content">
    <div class="mashup-preview">
      <h3>Preview</h3>
    </div>
    <div class="mashup-layers">
      <h3>Layers</h3>
    </div>
    <div class="mashup-library">
      <h3>Library</h3>
    </div>
  </div>
</div>