<div class="create-filter-container section-container">
  <div class="section-header">
    <h2 class="create-filter-header">Create Filter</h2>
  </div>
  <div class="section-content">
    <div class="manual-enter enter-tab">
      <h3>Manual</h3>
      <div class="filter-dim">
        <label>Enter Filter Dimension(odd number): </label>
        <input type="text" class="filter-dim-input" size="2" maxlength="2">
        <div class="button-1 generate-inputs">Generate</div>
      </div>
      <div class="filter-inputs"></div>
      <div class="toggle-inputs button-1">Hide Inputs</div>
    </div>
    <div class="code-enter enter-tab">
      <h3>Code</h3>
    </div>
    <div class="preview-container">
      <h3>Preview</h3>
      <img class="filter-preview-refresh refresh" src="/assets/refresh.png" alt="refresh">
      <canvas id="preview-canvas" class="preview-canvas" width="200" height="200">Canvas is not supported by your browser</canvas>
      <div class="button-1 save-filter">Save Filter</div>
    </div>
  </div>
</div>
<canvas id="thumb-canvas" width="50" height="50" style="display:none">Canvas is not supported by your browser</canvas>
<%= content_tag(:div, "", class: 'data', data:{images:[asset_path('img1.jpeg'),asset_path('img2.jpeg'),asset_path('img3.jpeg'),asset_path('img4.jpeg'),asset_path('img5.jpeg'),asset_path('img6.jpeg'),asset_path('img7.jpeg'),asset_path('img8.jpeg'),asset_path('img9.jpeg'),asset_path('img10.jpeg')]}) %>