<div class="mashup-filter-container section-container">
  <div class="section-header">
    <h2 class="mashup-filter-header">Mashup Filters</h2>
  </div>
  <div class="section-content">
    <div class="mashup-preview">
      <h3>Preview</h3>
      <img class="mashup-preview-refresh refresh" src="/assets/refresh.png" alt="refresh">
      <canvas id="mashup-preview-canvas" class="mashup-preview-canvas">Canvas is not supported by your browser</canvas>
    </div>
    <div class="mashup-layers">
      <h3>Layers</h3>
      <canvas id="mashup-layers-canvas" class="mashup-layers-canvas">Canvas is not supported by your browser</canvas>
    </div>
    <div class="mashup-library">
      <h3>Library</h3>
    </div>
  </div>
  <div class="save-mashup button-1">Save Mashup</div>
</div>
<canvas id="thumb-canvas" width="50" height="50" style="display:none">Canvas is not supported by your browser</canvas>
<%= content_tag(:div, "", class: 'data', data:{library:@library}) %>