<div class="mashup-filter-container section-container">
  <div class="section-header">
    <h2 class="mashup-filter-header"><span class="mashup-name"><%=@mashup.name%></span> <small><a href="/users/show"><a href="/users/show/<%=@mashup.user_id%>"><%=User.find_by(id: @mashup.user_id).username%></a></a></small></h2>
  </div>
  <div class="section-content">
    <div class="mashup-preview">
      <h3>Preview</h3>
      <img class="mashup-preview-refresh refresh" src="/assets/refresh.png" alt="refresh">
      <canvas id="mashup-preview-canvas" class="mashup-preview-canvas">Canvas is not supported by your browser</canvas>
    </div>
    <div class="mashup-layers">
      <h3>Layers</h3>
      <canvas id="mashup-layers-canvas" class="mashup-layers-canvas">Canvas is not supported by your browser</canvas>
    </div>
    <div class="mashup-library">
      <h3>Library</h3>
    </div>
  </div>
  <%if @mashupOwner%>
  <div class="button-1 update-mashup">Save Mashup</div>
  <%else%>
  <div class="button-1 save-mashup">Copy Mashup</div>
  <%end%>
</div>
<canvas id="thumb-canvas" width="50" height="50" style="display:none">Canvas is not supported by your browser</canvas>
<%= content_tag(:div, "", class: 'data', data:{library:@library,mashup:@mashup,filters:Filter.all}) %>